{% extends "template.html" %}
{% block content %}

<div class="container" style="margin-top: 7%">
	<form action="{{ url_for('adapt') }}" method="post" name="adapt">
		<h1>Specify your tastes</h1>
		<hr>
		<div class="form-group">
			<label for="cocktail_name">Name</label>
			<input type="text" class="form-control" id="cocktail_name" name="adapt_cname" value="{{name}}">
			<small id="nameHelp" class="form-text text-muted">Choose a unique name for your cocktail!</small>
		</div>
		<div class="form-group">
			<label for="cocktail_ingredients">Ingredients</label>
			<textarea class="form-control" name="adapt_cingredients" id="cocktail_ingredients" rows="3">{{IngredientData}}</textarea>
		</div>
		<div class="form-group">
			<label for="cocktail_preparation">Preparation Steps</label>
			<textarea class="form-control" name="adapt_cpreparation" id="cocktail_preparation" rows="3">{{PreparationData}}</textarea>
		</div>
		<input type=hidden name="adapt_name" value="true"/>

		<button type="submit" class="btn btn-primary">Save your cocktail</button>
	</form>
</div>

{% endblock %}