{% extends "template.html" %}
{% block content %}

<form style="margin-top: 5%">
	<h1>Specify your tastes</h1>
	<hr>
	<div class="container" style="width:40%">
		<div class="form-group row">
			<label class="col-sm-4" for="fruitinput">Fruits</label>
			<input id="fruitinput" class="form-control col-sm-8" type="text" placeholder="Ex. lemon, strawberry">
		</div>
		<div class="form-group row">
			<label class="col-sm-4" for="vegetableinput">Vegetables</label>
			<input id="vegetableinput" class="form-control col-sm-8" type="text" placeholder="Ex. cucumber, tomato">
		</div>
		<div class="form-group row">
			<label class="col-sm-4" for="alcoholinput">Alcoholic Liqueurs</label>
			<input id="alcoholinput" class="form-control col-sm-8" type="text" placeholder="Ex. cremant, vodka">
		</div>
		<div class="form-group row">
			<label class="col-sm-4" for="nonalcoholinput">Non-alcoholic Liqueurs</label>
			<input id="nonalcoholinput" class="form-control col-sm-8" type="text" placeholder="Ex. orange juice, lemon juice">
		</div>
		<div class="form-group row">
			<label class="col-sm-4" for="enhancerinput">Taste Enhancers</label>
			<input id="enhancerinput" class="form-control col-sm-8" type="text" placeholder="Ex. sugar, sour cream">
		</div>
		<div class="form-group row">
			<label class="col-sm-4" for="otherinput">Other additions</label>
			<input id="otherinput" class="form-control col-sm-8" type="text" placeholder="Ex. ice cream, sparkling water">
		</div>

  		<button type="submit" class="btn btn-primary">Search for your cocktail</button>
	</div>


		{% if matchedcocktail %}
			
			<font size=2><strong>Top Matching Cocktails with Similarity Score <font color="#E80000">
			<table align='centre'>
			{%	for cocktail in matchedcocktail:	%}
				<tr>
					<td>{{cocktail[0]}}</td><td>-</td><td>{{cocktail[1]}}</td><td>-</td><td>Alcohol Content: {{cocktail[2]}}</td> 
				</tr>
			{% endfor %} 
			</table>
			</font></strong></font>
		{% else %}
			<hr>
			<pre>
Tip : 1.Multiple ingredients under same category are typed as comma separated values - eg: lemon,strawberry
	2.Click on navigator "Suggest Cocktail" at the top to search for new Cocktail recipe 
			</pre>
		{% endif %}
		<br/><br/>
	</form>

{% if matchedcocktail %}
<form action="{{ url_for('cocktailList') }}" method="post" name="cocktailList">
<table>
<tr>
	<td>
	Want to know how to make them :
	<input type=hidden name="cocktailName1" value="{{matchedcocktail[0][0]}}" />
	<input type=hidden name="cocktailName2" value="{{matchedcocktail[1][0]}}" />
	<input type=hidden name="cocktailName3" value="{{matchedcocktail[2][0]}}" />
	<input type=hidden name="cocktailName" value="{{matchedcocktail[0][0]}}" />
	</td>
	<td>
	<input value="Click!" type="submit" />
	</td>
</tr>
</table>
</form>
{% endif %}


</div>
{% endblock %}